@charset "utf-8";
/* CSS Document */

/*---------------------Whole page--------------*/
html {
  box-sizing: border-box;
}


*, *:before, *:after {
  box-sizing: inherit;
}


body{
	width: 100%;
	margin: 0 auto;
	padding: 0;
	line-height: 1.5;
	font-family: 'PT Sans', sans-serif;
}


a{
	text-decoration: none;
}

h1,h2,a,p,img {
	display: inline-block;
}


.image-boder{
	border-radius: 50%;
	width: 100px
}

.wide-wrap{
	margin-top: 50px;
	margin-bottom: 50px;
	display: flex;
}
.wide-wrap-1{
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 20px;
	margin-right: 50px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.table-sixe{
	width: 80%;
	margin: 0 auto;
	margin-top: 20px;
}


.align-center{
	text-align: center;
	margin: 0 auto;
}


.float-right{
	float: right;
}

.font-change{
	font-size: 16px;
	font-weight: 600;
}

.corner-pos{
	position: relative;
}

.image-cover{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 500px;
	line-height: 500px;
	background-size: cover;
  text-align: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(100,167,87,.38)), url('../images/crane.jpg');
}

.image-cover-2{
	margin: 0 auto;
	padding: 0;
	width: 90%;
	height: 700px;
	line-height: 700px;
	background-size: cover;
  text-align: center;
	background-image: linear-gradient(-130deg ,rgba(0, 0, 0, 0.8),rgba(100,167,87,.38)), url("../images/tool-1.jpg");
}



div.image-cover-2{
	box-shadow:5px 10px 8px #888888;
}

.image-cover-3{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 400px;
	line-height: 400px;
	background-size: cover;
  text-align: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.9),rgba(196, 86, 190,.6)), url("../images/buiding.jpg");
}

.image-cover-4{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 700px;
	line-height: 700px;
	background-size: cover;
  text-align: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(100,167,87,.6)), url("../images/phone.jpg");
}

.image-cover-5{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 400px;
	line-height: 400px;
	background-size: cover;
  text-align: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(196, 86, 190,.6)), url("../images/contact.jpg");
}

.rearrange-img{
	display: inline-flex;
	vertical-align: middle;
  line-height: normal;
	position: relative;
	color: aliceblue;
	margin-left: -20px;
}

.head-size{
	font-size: 70px;
	font-family: 'Oswald', sans-serif;
}

.head-size-2{
	font-size: 40px;
}

/*
.image-cover-3:hover .head-size-2{
	opacity: 0;
	-webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    transition: opacity 300ms;
}*/

.image-cover-3 .head-size-3{
	opacity: 0;
	font-size: 20px;
	display: flex;
	vertical-align: middle;     
	color: aliceblue;
	top: -150px;
	-webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
	//background-image: linear-gradient(rgba(1, 0, 0, 0.4),rgba(100,167,87,.48));
	height: 100%;
	width: 1200px;
}


.under-color{
	position: relative;
	z-index: 200;
	background:rgba(100,167,87,.38);
}

.inline{
	display: grid;
	grid-template-columns: repeat(4, 300px);
	margin: 20px auto;
	justify-content: center;
}

/*.inline{
	position: absolute;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	width: 100%;
	top: 20px;
}

.inline2{
	position: relative;
	vertical-align: middle;
	margin: 0;
	margin-top: -7em;
	margin-bottom: 60px;
	padding: 0;
	width: 100%;
	top: 20px;
}

.inline2>h2{
	display: inline;
	margin: 0 80px;
	font-size: 30px;
}

.inline>h2{
	display: inline;
	margin: 0 80px;
	font-size: 30px;
}
*/
/*section>h1{
	background:linear-gradient(rgba(0, 0, 0, 0.1),rgba(142,70,211,1.0));
	padding:20px;
	margin: 0px;
	color:rgba(63,57,69,1.0);
	letter-spacing: 2px;
	font-weight:bold;
	font-size: 30px;
	text-align: right;
	display: block;
}*/

section {
	text-align: center;
	position: relative;
}

.left-align{
	display: grid;
	grid-template-columns: repeat(4, 300px);
	justify-content: center;
	margin: 20px auto;
	margin-left: 100px;
}


/*.left-align{
	text-align: left;
	position: relative;
	left:25.5%;
	font-size: 20px;
}*/

/*----------Header---------*/
header{
	background-color: deepskyblue;

	justify-content: space-between;
	align-items: center;
	padding: 0;
}


nav{
	list-style: none;
	margin: 0;
	display: flex;
  justify-content: flex-end;
	
}


.hide{
	display: none;
}



/*----------Navigation---------*/


nav li {
	display: inline-block;
}

nav li:nth-child(1){
	padding: 0 10px 0 0;
	
}

nav a{
	text-decoration: none;
	padding: 1.2em;
	font-size: 18px;
	font-weight: 200;
	color:white;
}

nav a:hover {
  background: aqua;
	color:rgba(26,34,30,1.00);
}

.logo{
	cursor: pointer;
	margin-right: 5px;
	color: white;
	text-decoration: none;
	align-items: center;
	vertical-align: middle;
}



/*----------Footer---------*/

footer{
	margin: 0;
	background-color: skyblue;
		
	
	justify-content: space-between;
	align-items: center;
	padding: 0;
}
/*---------Body---------*/

main{
position:;
}

main>div{
	position: relative;
}


div>img{
	position: relative;
	z-index: 0;
}

.h1-section{
	background:rgba(17, 60, 103,1);
	text-align: center;
	padding: 40px;
	margin: 0;
	font-size: 30px;
	font-family: 'Ubuntu', sans-serif;
	color: rgb(164, 186, 78);
	letter-spacing: 2px;
	font-weight:bold;
	font-size: 30px;
	display: block;
}

.h1-section-2{
	background:rgba(18, 8, 30,1);
	margin: 0;
	padding: 0;
	width: 100%;
	height: 200px;
	line-height: 200px;
	font-family: 'Ubuntu', sans-serif;
  text-align: center;
	color: rgb(164, 186, 78);
}


div>p{
	width: 70%;
	margin: 0;
}


.margin-left{
	text-transform: uppercase;
	font-size: 30px;
	margin: 20px;
	align-items: center;
	justify-content: center;
	text-align: left;
	display: block;
}

.margin-left+p{
	font-weight: 500;
	flex-basis: auto;
	margin: 0 20px;
}


.margin_left h3{
	margin-left: 10px;
}

h1.topics{
	font-size: 50px;
	margin: 0;
	text-align: left;
	margin-left: 20px;
	vertical-align: middle;
}

.topics-list{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-height: 40em;
	width: 100%;
}

.topics-list li{
	list-style: none;
	text-decoration: none;
	flex-basis: auto;
	margin-right: 20px;
	margin-top: 5px;
	border: 1px solid black;
	padding: 8px;
	display: inline-block;
}

.topics-list li:hover{
	background-color: #fa3371;
	color: #37044a;
}

.boxshadow{
	margin-top: 20px;
	margin-bottom: 5px;
}

.box-shadow{
-webkit-box-shadow: 10px 10px 13px 6px rgba(0,0,0,0.72);
-moz-box-shadow: 10px 10px 13px 6px rgba(0,0,0,0.72);
box-shadow: 10px 10px 13px 6px rgba(0,0,0,0.72);
}

.section-boder{
	border-radius: 42px 0px 0px 0px;
-moz-border-radius: 42px 0px 0px 0px;
-webkit-border-radius: 42px 0px 0px 0px;
border: 2px solid #a4ba4e;
	margin-top: 50px;
}

/* Slideshow container */
.slider{
  position: relative;
  margin: auto;
}


.slide{
	display: none;
}
/* Caption text */
.text-image {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

@media